body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 15px 40px;

    background-color: #ee3643;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}


.main-header {
    background-color: #f3f7f9;
    padding-bottom: 60px;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.container {
    display: flex;
    width: 940px;
    margin: 0 auto 50px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.logo-top {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    padding: 14px 57px;
    background-color: #ee3643;
}

.logo-top::before {
    content: "";
    position: absolute;
    top: 48px;
    right: 0px;
    width: 226px;
    height: 5px;
    background-color: #b52933;
}

.search-form-label {
    display: flex;
    flex-direction: row-reverse;
}

.search-icon {
    fill: #ffffff;
    padding: 14px 12px;
    border: none;
}

.search-form input {
    background-color: #293449;
    border: none;
}

.search-form input::placeholder {
    color: #ffffff;
}

.search-form input:hover {
    background-color: #212a3a;
}

.search-form input:focus {
    background-color: #ffffff;
}

.search-form-input:hover + .search-icon {
    background-color: #212a3a;
}

.search-form-input:focus + .search-icon {
    fill: #ee3643;
    background-color: #ffffff;
}

.search-form label {
    margin-right: 10px;
}

.top-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-list a {
    display: flex;
    padding: 14px 30px;
    color: #ffffff;
}

.bookmark {
    position: relative;
}

.bookmark::before {
    content: "";
  
    position: absolute;
    top: 14px;
    left: 3px;
  
    width: 16px;
    height: 18px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.cart-index {
    position: relative;
}

.cart-index::before {
    content: "";
  
    position: absolute;
    top: 14px;
    left: 3px;
  
    width: 16px;
    height: 18px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.cart-index:hover::before,
.cart-index:focus::before {
    opacity: 1;
}

.bookmark:hover::before,
.bookmark:focus::before {
    opacity: 1;
}

.cart {
    background-color: #ee3643;
    position: relative;
}

.cart::before {
    content: "";
  
    position: absolute;
    top: 16px;
    left: 3px;
  
    width: 16px;
    height: 18px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.cart:hover::before,
.cart:focus::before {
    opacity: 1;
}

.list-order a {
    background-color: #63a63e;
}

.top-list a:hover,
.top-list a:focus {
    background-color: #212a3a;
}

.list-order a:hover,
.list-order a:focus {
    background-color: #5fbb2d;
}

.container-about {
    display: flex;
    width: 940px;
    margin: 0 auto 50px;
    padding: 0;
    justify-content: space-between;
    align-items: baseline;
}

.about {
    margin-left: 52px;
    width: 200px;
}

.about p {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

.tel {
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
}

.telephone {
    padding: 12px 50px 12px 73px;
    border: 3px solid #ffffff;
    position: relative;
}

.telephone::before {
    content: "";
  
    position: absolute;
    top: 13px;
    left: 10px;
  
    width: 16px;
    height: 18px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.address {
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;

}

.login a {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 21px;
}

.login-button {
    position: relative;
    padding: 12px 25px 12px 50px;
}

.login-button::before {
    content: "";
  
    position: absolute;
    top: 16px;
    left: 13px;
  
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.5;
}

.login-button:hover::before,
.login-button:focus::before {
    opacity: 1;
}

.registration-button {
    padding: 12px 25px;
}

.login a:hover,
.login a:focus {
    color: #ee3643;
}

.login-catalog p {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.login-catalog a {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}

.login-catalog a:hover,
.login-catalog a:focus {
    color: #ee3643;
}

.user {
    padding: 15px 70px 15px 48px;
    position: relative;
}

.user::before {
    content: "";
  
    position: absolute;
    top: 16px;
    left: 13px;
  
    width: 22px;
    height: 20px;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.5;
}

.user::after {
    content: "";
  
    position: absolute;
    top: 17px;
    right: 13px;
  
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.5;
}

.user:hover::before,
.user:focus::before {
    opacity: 1;
}

.user:hover::after,
.user:focus::after {
    opacity: 1;
}

.main-navigation {
    display: flex;
    width: 940px;
    margin: 0 auto 50px;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.site-navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.site-navigation a {
    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
    padding: 23px 30px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}

.banner {
    display: flex;
    width: 940px;
    margin: 30px auto;
    justify-content: space-between;
}

.banner-materials {
    width: 300px;
    position: relative;
    background-color: #ffbf47;
    box-sizing: border-box;
    padding: 0px 22px 30px;
}

.banner-materials::after {
    content: "";
  
    position: absolute;
    top: 35px;
    right: 42px;
  
    width: 46px;
    height: 66px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.banner-materials::before {
    content: "";
  
    position: absolute;
    top: 0px;
    right: 0px;
  
    width: 60px;
    height: 60px;
    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.banner-materials p {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0 20px;
    color: #ffffff;
}

.banner-materials a {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    padding: 14px 25px;
    background-color: #e5ac40;
    border-radius: 3px;
}

.banner-materials a:hover {
    background-color: #cccccc;
}

.banner-tool {
    width: 300px;
    position: relative;
    background-color: #3bbce3;
    box-sizing: border-box;
    padding: 0px 22px 30px;
}

.banner-tool::after {
    content: "";
  
    position: absolute;
    top: 35px;
    right: 42px;
  
    width: 76px;
    height: 66px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.banner-tool p {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0 20px;
    color: #ffffff;
}

.banner-tool a {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    padding: 14px 27px;
    background-color: #35a9cc;
    border-radius: 3px;
}

.banner-tool a:hover {
    background-color: #cccccc;
}

.banner-equipment {
    width: 300px;
    position: relative;
    background-color: #dc91d8;
    box-sizing: border-box;
    padding: 0px 22px 30px;
}

.banner-equipment::after {
    content: "";
  
    position: absolute;
    top: 35px;
    right: 42px;
  
    width: 82px;
    height: 66px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.banner-equipment p {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0 20px;
    color: #ffffff;
}

.banner-equipment a {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    padding: 14px 27px;
    background-color: #c682c2;
    border-radius: 3px;
}

.banner-equipment a:hover {
    background-color: #cccccc;
}

.slider-banner {
    display: flex;
    width: 940px;
    margin: 30px auto;
    justify-content: space-between;
}

.banner-right {
    display: flex;
    flex-direction: column;
}

.banner-discount {
    width: 300px;
    position: relative;
    background-color: #8ed78f;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0px 22px 30px;
}

.banner-discount::after {
    content: "";
  
    position: absolute;
    top: 30px;
    right: 42px;
  
    width: 62px;
    height: 73px;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.banner-discount p {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding: 0px;
    margin: 20px 0 20px;
    color: #ffffff;
}

.banner-discount a {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    padding: 14px 27px;
    background-color: #80c180;
    border-radius: 3px;
}

.banner-discount a:hover {
    background-color: #cccccc;
}

.banner-delivery {
    width: 300px;
    position: relative;
    background-color: #ffc047;
    box-sizing: border-box;
    padding: 0px 22px 30px;
}

.banner-delivery::after {
    content: "";
  
    position: absolute;
    top: 35px;
    right: 42px;
  
    width: 79px;
    height: 65px;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.banner-delivery p {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0 20px;
    color: #ffffff;
}

.banner-delivery a {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    padding: 14px 38px;
    background-color: #e5ac40;
    border-radius: 3px;
}

.banner-delivery a:hover {
    background-color: #cccccc;
}

.popular-goods-title {
    display: flex;
    width: 940px;
    margin: 30px auto;
    background-color: #f9f5f0;
    justify-content: space-between;
}

.popular-goods-title h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    box-sizing: border-box;
    padding: 0px 20px;
}

.popular-goods-title .button {
    font-family: "Cuprum", Arial, sans-serif;
    display: flex;
    box-sizing: border-box;
    height: 40px;
    align-self: center;
    padding: 0px 55px;
    margin-right: 20px;
    border-radius: 2px;
}

.catalog-items-popular {
    width: 940px;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px auto;
}

.catalog-items-popular .catalog-item {
    margin-right: 11px;
}

.popular-manufacturers-title {
    display: flex;
    width: 940px;
    margin: 10px auto;
    background-color: #f9f5f0;
    justify-content: space-between;
}

.popular-manufacturers-title h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    box-sizing: border-box;
    padding: 0px 20px;
}

.popular-manufacturers-title .button {
    font-family: "Cuprum", Arial, sans-serif;
    display: flex;
    box-sizing: border-box;
    height: 40px;
    align-self: center;
    padding: 0px 70px;
    margin-right: 20px;
    border-radius: 2px;
}

.popular-manufacturers-logo {
    display: flex;
    width: 940px;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular-manufacturers-logo a {
    width: 220px;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
}

.index-columns {
    display: flex;
    width: 940px;
    margin: 0 auto 50px;
    justify-content: space-between;
}

.description {
    width: 521px;
}

.description-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.description p {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 20px;
}

.transport {
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    margin-bottom: 40px;
}

.transport li {
    margin-bottom: 25px;
    position: relative;
}

.transport li::before {
    content: "";

    position: absolute;
    top: 9px;
    left: -35px;

    width: 25px;
    height: 2px;

    background-color: #ee3643;
}

.contacts {
    width: 303px;
}

.contacts-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 10px; 
}

.button-contacts {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 15px 62px;
    margin-top: 40px;

    background-color: #ee3643;
    border: none;
}

.button-contacts:hover,
.button-contacts:focus {
    background-color: #ca2c37;
}

.map {
    margin-top: 20px;
    margin-bottom: 40px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 940px;
    margin: 0 auto 25px;
    padding: 0;
}

.breadcrumbs a {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000; 
}

.breadcrumbs li {
    font-family: "PT Sans", Arial, sans-serif;
    position: relative;
    font-weight: 400;
    padding: 24px 40px 0 0;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000; 
}

.breadcrumbs li::after {
    content: "";
  
    position: absolute;
    top: 27px;
    right: 15px;
  
    width: 7px;
    height: 12px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs-current::after {
    display: none;
}

.home {
    padding-left: 0;
    margin-left: 0;
}

.page-title {
    background-color: #f2f6f8;
    width: 940px;
    margin: 0 auto 20px;
}

.page-title h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px; 
}

.filter-title {
    width: 200px;
    background-color: #f7f3ec;
}

.filter-title h2 {
    padding: 10px 20px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-top: 0px;
    text-transform: uppercase;
    color: #000000;
}

.filter-item {
    margin: 0;
    padding: 0;
    width: 220px;
    border: none;
  }
  
.range-filter {
    width: 200px;
    margin-top: 20px;
  }
  
.filter-item legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }
  
.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f7f3ec;
    
    border-radius: 5px;
  }
  
.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
  }
  
.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
  }
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
  }
  
.range-controls .toggle-min {
    left: 0px;
  }
  
.range-controls .toggle-max {
    left: 120px;
  }
  
.price-controls {
    font-size: 0;
    display: flex;
    justify-content: space-between;
  }
  
.price-controls input {
    width: 70px;
    padding: 8px 10px;
    margin-bottom: 30px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    
    border: none;
    border-radius: 5px;
    background: #f7f3ec;
  }
 
.min-price {
    text-align: left;
  }

.max-price {
    text-align: right;
  }

.catalog-filter {
    width: 170px;
}

.catalog-columns {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.filter ul {
    list-style: none;
    line-height: 20px;
    padding: 0;
}

.filter li {
    width: 167px;
}

.filter label {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #b5b5b5;
}

.filter-input:disabled + label {
    color: #e9e9e9;
    opacity: 0.5;
}

.sorting {
    position: relative;
    width: 720px;
    display: flex;
    justify-content: space-between;
    background-color: #f7f3ec;
}

.sorting::before {
    content: "";
  
    position: absolute;
    top: 18px;
    right: 40px;
  
    width: 11px;
    height: 11px;
    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sorting-right {
    margin-right: 100px;
    display: flex;
    justify-content: space-around;
    width: 462px;
}

.sorting p {
    margin: 8px 10px;
}

.sorting-head {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0;
    text-transform: uppercase;
    color: #000000;
}

.sorting-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0;
    text-transform: uppercase;
    color: #ee3643; 
}

.sorting-type {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
    border-bottom: 1px dotted #ee3643;
}

.sorting-functional {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.3;
    border-bottom: 1px dotted #ee3643; 
}

.catalog-items {
    width: 700px;
    margin: 20px auto;
  }
  
.catalog-items .row {
    margin-left: -20px;
  }
  
.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    
    border: 1px solid #ccc;
  }
  
.catalog-items {
    font-size: 0;
  }
  
.catalog-item {
    font-size: 16px;
  }
  
.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
  }

.actions a {
    font-size: 14px;
    line-height: 18px;
  }
  
.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
  }
  
.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
  }
  
.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius:3px;
    
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
.catalog-item .actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
  }
  
.catalog-item .actions {
    display: none;
  }

.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
.catalog-item:hover .actions {
    display: block;
  }
  
.catalog-item .actions {
    display: none;
  }
  
.catalog-item .image {
    width: 218px;
    height: 168px;
  }
  
.catalog-item .image img {
    max-width: 100%;
  }
  
.catalog-item .title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;    
  }
  
.catalog-item .discount {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    
    color: #999;
    text-decoration: line-through;
  }
  
.catalog-item .price {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
  }
  
.catalog-item .price:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
  }

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item a {
    display: block;
    padding: 14px 17px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination-item-last a {
    padding: 14px 31px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border-color: #bdc6ca;
}

.pagination-item a:active {
    border-color: #ee3643;
}

.perforator {
    background-color: #f2f6f8;
}

.about-perforator {
    width: 940px;
    margin: 0 auto;
    padding: 67px 0;
}

.about-perforator h3 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.about-perforator p {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.main-footer {
    background-color: #32425c;
}

.footer-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-address p {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
}

.footer-address {
    display: flex;
    flex-direction: column;
}

.logo-bot {
    width: 220px;
    box-sizing: border-box;
    padding: 21px 41px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.site-navigation-footer {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}

.site-navigation-footer a {
    color: #ffd180;
    font-size: 18px;
    line-height: 24px;
    padding: 30px 25px;
}

.site-navigation-footer-up {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}

.site-navigation-footer-up a {
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
    padding: 30px 25px;
}

.site-navigation-footer-up a:hover,
.site-navigation-footer-up a:focus,
.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
    text-decoration: underline;
}

.footer-down {
    background-color: #293449;
}

.footer-down-container {
    display: flex;
    width: 940px;
    margin: 0 auto 50px;
    padding: 20px 0;
    justify-content: space-between;
}

.footer-down p {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.copyright {
    width: 228px;
}

.footer-social ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 130px;
}

.footer-social li {
    border-radius: 50%;
}

.social-button {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212a3a;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
}

.site-mail,
.site-address {
    color: #ffd180;
    font-size: 16px;
    line-height: 18px;
}

.site-mail:hover,
.site-address:hover,
.site-mail:focus,
.site-address:focus {
    text-decoration: underline;
}

.modal {
    position: fixed;
    display: none;
    flex-wrap: wrap;
    
    box-sizing: border-box;
    top: 120px;
    left: 50%;
    width: 620px;
    margin-left: -392px;
    background-color: #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    border-top: 7px solid #ff5358;
    
}

.modal p {
    font-size: 18px;
    line-height: 18px;
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 460px;
    margin: 55px 82px 35px;
}

.modal-form-item {
    width: 220px;
}

.modal-form-item label {
    display: block;
    margin-bottom: 10px;
}

.modal-form-item-last label {
    display: block;
    margin-bottom: 10px;
}

.modal-form-item input {
    box-sizing: border-box;
    width: 220px;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
}

.modal-form-item-last textarea {
    box-sizing: border-box;
    width: 460px;
    padding-top: 12px;
    padding-left: 16px;
}

.modal .button {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.button-container {
    background-color: #f4f4f4;
    flex-grow: 1;
    padding: 38px 82px;
    box-sizing: border-box;
    width: 100%;
}

.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form textarea {
    border: 2px solid #d7dcde;
}

.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover,
.modal-form textarea:hover {
    border: 2px solid #b5b5b5;
}

.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus,
.modal-form textarea:focus {
    border: 2px solid #ee3643;
}

.button-close {
    position: absolute;
    top: 5px;
    right: 5px;
  
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.button-close::before {
    transform: rotate(45deg);
}

.button-close::after {
    transform: rotate(-45deg);
}

.map-popup {
    position: fixed;
    display: none;
    top: 120px;
    left: 50%;
    box-sizing: border-box;
    width: 944px;
    border: none;
    padding: 0;
    margin-left: -472px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}

.button-close-map {
    position: absolute;
    top: 10px;
    right: 10px;
  
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.cart-add {
    position: fixed;
    display: none;
    flex-wrap: wrap;
    box-sizing: border-box;
    top: 120px;
    left: 50%;
    width: 620px;
    margin-left: -310px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    border-top: 7px solid #ff5358;
    background-color: #ffffff;
}

.cart-add p {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 82px;
    line-height: 30px;
    color: #000000;
}

.cart-add span {
    margin-right: 30px;
}

.cart-add-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 37px 82px;
}

.cart-add .button {
    padding: 14px 62px;
}

.cart-add-button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 14px 44px;
    color: #000000;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ffffff;
    border: none;
}

.button-close-cart {
    position: absolute;
    top: 8px;
    right: 7px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}